---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)



@import
  {% if site.bootwatch %}
    "bootswatch/{{site.bootwatch | downcase}}/variables",
  {% endif %}

  "bootstrap",

  {% if site.bootwatch %}
    "bootswatch/{{site.bootwatch | downcase}}/bootswatch",
  {% endif %}

  "syntax-highlighting",
  "typeahead"
;

html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: $navbar-height + $navbar-margin-bottom;
  margin-bottom: 46px;
}

.navbar-brand{
  img{
    margin: -$navbar-padding-vertical 0;
    height: $navbar-height;
    padding: 10px 0;
  }
  font-size: 28px;
  font-weight: bold;
}


.header-container {
  background-color: black;
  background: url('../img/normal_isochrone.png') no-repeat 50% 0;
  color: #fff;

  h1 {
    color: black;
    font-family: Lovelo,sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 60px;
    line-height: 100px!important;
  }
  // background-attachment: fixed;
  background-size: cover;
  background-position: center 36%;
  margin-top: -30px;
}
.navbar-container {
  font-size: 20px;
  font-weight: 400;
}
.page-content {
  padding-bottom: 20px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 46px;
  color: $gray-dark;

  img {
    max-height: 140px;
    width: auto;
    margin: 40px;
  }

  .container > div {
    border-top: solid 1px $gray-lighter;
    padding-top: 20px;
    padding-bottom: 30px;
  }
}

@media (max-width: 600px) {
  .footer .container img {
      display: block;
      margin: 40px auto;
  }
}

.post-list-container {
  .footer {
    font-weight: bold;
  }
}
*[id]:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}
.navbar-form .has-feedback .form-control-feedback{
  top:12px
}

// Videos page
$card-border-radius: 5px;
.videos {
  > div:not(.clearfix) {
    margin-bottom: $grid-gutter-width;
  }
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: $border-radius-base;

  img {
    width: 100%;
    height: auto;
    border-radius: $border-radius-base $border-radius-base 0 0;
  }

  .card-title {
    margin-top: 0;

    a:hover {
      text-decoration: none;
    }
  }

  .card-body {
    padding: 25px;
  }

  .card-text {
    line-height: 1.4;
  }

}
