@font-face {
  font-family: Mulish;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("https://assets.plan4better.de/fonts/mulish/Mulish-Light.woff2") format("woff2");
}

@font-face {
  font-family: Mulish;
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("https://assets.plan4better.de/fonts/mulish/Mulish-LightItalic.woff2") format("woff2");
}

@font-face {
  font-family: Mulish;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://assets.plan4better.de/fonts/mulish/Mulish-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Mulish;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("https://assets.plan4better.de/fonts/mulish/Mulish-Italic.woff2") format("woff2");
}

@font-face {
  font-family: Mulish;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("https://assets.plan4better.de/fonts/mulish/Mulish-Medium.woff2") format("woff2");
}

@font-face {
  font-family: Mulish;
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("https://assets.plan4better.de/fonts/mulish/Mulish-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("https://assets.plan4better.de/fonts/mulish/Mulish-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: Mulish;
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("https://assets.plan4better.de/fonts/mulish/Mulish-SemiBoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: Mulish;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("https://assets.plan4better.de/fonts/mulish/Mulish-Bold.woff2") format("woff2");
}

@font-face {
  font-family: Mulish;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("https://assets.plan4better.de/fonts/mulish/Mulish-BoldItalic.woff2") format("woff2");
}
