ubuntu-bionic-18.04-cloudimg-console.log
.vagrant
/app/geoserver/geoserver_data/logs/geoserver.log
/app/config/goat_config.yaml
/app/front_end/dist
/app/front_end/node_modules
/app/front_end/.cache
/app/node/node_modules
/app/database/data
/app/database/postgres_data
/app/database/backups
/_site
/.sass-cache
/app/database/data_preparation/Python/__pycache__
/app/database/scripts/__pycache__
node_modules
dist
k8s/postgres.yaml
k8s/api.yaml
k8s/client.yaml
k8s/geoserver.yaml
k8s/print.yaml
k8s/mapproxy.yaml
k8s/database.yaml
.env
/.vscode