ubuntu-bionic-18.04-cloudimg-console.log
.vagrant
/app/data/*
!/app/data/.gitkeep
/app/geoserver/geoserver_data/logs/geoserver.log
/app/config/db/spaces.yaml
/app/node/node_modules
/app/database/data
/app/database/backups
/_site
/.sass-cache
/app/database/data_preparation/Python/__pycache__
/app/database/scripts/__pycache__
node_modules
dist
.env
/.vscode