########################################################################
# ------------ MANDATORY (CHANGE ACCORDING TO YOUR SETUP) ------------#
########################################################################
# Since .env is gitignored, you can use .env.example to build a new `
# .env` file when you clone the repo. This file will be committed 
# to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env`
# and populate it with your secrets.
########################################################################

############
#  BASICS  #
############
NEXT_PUBLIC_APP_URL=http://localhost:3000


###############
#  NEXT AUTH  #
###############

# @see: https://next-auth.js.org/providers/keycloak
KEYCLOAK_ID=nextjs
KEYCLOAK_SECRET=RANDOM_STRING
KEYCLOAK_ISSUER=http://localhost/auth/realms/p4b