<footer class="footer">
    <div class="container">
        <div>
            <div class="text-center">
                <a href="https://www.bgu.tum.de/sv/startseite/" target="_blank"><img src="{{ 'img/logo-tum.png' | absolute_url }}" alt="TUM"></a>
                <a href="https://www.bmvi.de" target="_blank"><img src="{{ 'img/logo-bmvi.png' | absolute_url }}" alt="Bundesminsterium"></a>
                <a href="https://www.bmvi.de/SharedDocs/DE/Artikel/DG/mfund-projekte/GOAT.html" target="_blank"><img src="{{ 'img/logo-mfund.png' | absolute_url }}" alt="mFund"></a>
            </div>

            <p class="text-center">
                {{ site.title }} {{ site.time | date: '%Y' }} |
                All Rights Reserved
            </p>            
        </div>
        <!-- <p class="text-muted">Place sticky footer content here.</p> -->
    </div>
</footer>