html {
  /* otherwise we have always vertical scrollbars */
  overflow-y: hidden !important;
}

.wg-app {
  position: relative;
  width: 100%;
}
.wg-app-embedded {
  width: 100%;
  height: 100%;
  border: 2px solid grey;
}

.wg-app-logo {
  left: 8px;
  bottom: 50px;
}

.wg-measurewin {
  left: auto !important;
  top: auto !important;
  right: 10px;
  bottom: 4.8em;
}

.wg-layerlist {
  left: auto !important;
  top: 75px !important;
  right: 10px;
}

.wg-footer-left {
  padding-left: 5px;
}
.wg-footer-right {
  padding-right: 5px;
}
.wg-footer-left a,
.wg-footer-right a {
  color: inherit;
}

.wg-win-title {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /* Introduced in IE 10, See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/ */
  -ms-user-select: none;
  user-select: none;
}

.clickable {
  cursor: pointer;
}

// map fullscreen class
.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

/*Tooltip Styling */
.tooltip {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  position: relative;
  background-color: rgba(140, 140, 140, 0.9);
  border-radius: 4px;
  color: white;
  padding: 2px 8px;
  font-size: 12px;
}
.tooltip-measure {
  opacity: 1;
  font-weight: bold;
}
.tooltip-static {
  background-color: #ffcc33;
  color: black;
  border: 1px solid white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: bold;
}
.tooltip-measure:before,
.tooltip-static:before {
  border-top: 6px solid rgba(140, 140, 140, 0.9);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}
.tooltip-static:before {
  border-top-color: #ffcc33;
}
/*-----*/

/*Popup overlay Styling */
.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}
.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

/*Context menu style overwrite */
.ol-ctx-menu-container {
  font-size: 15px !important;
}

.light-text {
  color: rgba(0, 0, 0, 0.6);
}

.header-name {
  font-size: 16px;
  color: #424242;
}
.sub-header {
  color: #757575;
  font-size: 14px;
}
.light-icon-color {
  color: rgba(0, 0, 0, 0.54) !important;
}

[v-cloak] {
  display: none;
}
.loading {
  display: grid;
  place-content: center;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#wg-app:not([v-cloak]) ~ .loading {
  display: none;
}
