html {
  /* otherwise we have always vertical scrollbars */
  overflow-y: hidden !important;
}

.wg-app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  position: relative;
  width: 100%;
}
.wg-app-embedded {
  width: 100%;
  height: 100%;
  border: 2px solid grey;
}

.wg-map {
}
.wg-app-embedded .wgu-map {
}

.wg-app-logo {
  left: 8px;
  bottom: 50px;
}

.wg-measurewin {
  left: auto !important;
  top: auto !important;
  right: 10px;
  bottom: 4.8em;
}

.wg-layerlist {
  left: auto !important;
  top: 75px !important;
  right: 10px;
}

.wg-footer-left {
  padding-left: 5px;
}
.wg-footer-right {
  padding-right: 5px;
}
.wg-footer-left a,
.wg-footer-right a {
  color: inherit;
}

.wg-win-title {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /* Introduced in IE 10, See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/ */
  -ms-user-select: none;
  user-select: none;
}

.clickable {
  cursor: pointer;
}

/*Measure Styling */
.tooltip {
  font-style: normal;
  position: relative;
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: pre-wrap;
  font-size: 17px;
  z-index: 100 !important;
  font-family: "Roboto", sans-serif;
  background: rgba(0, 0, 0, 0.5);
}
.tooltip-help {
  background: rgba(140, 140, 140, 0.9);
}

.tooltip-measure {
  opacity: 1;
  font-weight: bold;
  background-color: rgba(255, 0, 0, 0.9);
}

.tooltip-static {
  background-color: rgba(255, 0, 0, 0.9);
  color: white;
  opacity: 1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: 12px;
}

.tooltip-measure:before,
.tooltip-static:before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}

.tooltip-static:before {
  border-top-color: #ffcc33;
}
